h1  {
  Color: rgb(1, 10, 2);  
  font-family: cursive;
  text-transform: uppercase;
  padding-left: 0px;
  text-align: center;
}
body {
    background: linear-gradient(-90deg, rgb(157, 132, 229) , rgb(190, 177, 228));

}
section{
    font-size: 20px;
    font-family: monospace;
    padding-left: 20px;
}
button{
    width: 100px;
    height: 50px;
    border: 1px solid;
    background-color: rgb(162, 236, 199);
    transition-duration: 0.4s;
    font-size: 16px;
    border-radius: 10%;
    box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.1) , 7px 0px 0px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    user-select: none;
}
button:hover{
    background-color: springgreen;
    box-shadow: 10px 0px 0px 0px rgba(0, 0, 0, 0.1) , 12px 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.main span {
     font-size: 20px;
     font-weight: bolder;
     font-family: cursive;
     padding-left: 30px;
}
.main label {
    display: inline-block;
    height: 30px;
    width: 60px;
    padding-top: 8px;
    text-align: center;
    border: 1px solid;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    user-select: none;
    background-color: rgb(162, 236, 199);
    border-radius: 10%;
    cursor: pointer;
    transition-duration: 0.3s;
    font-weight: 600;
    font-family: cursive;
}
.main input {
    display: none;
}
.main input[type=radio]:checked + label {
    background: springgreen;
}
table {
    width: 480px;
    height: 150px;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 35px;
    margin-left: 35px;
}
th {
    border: 2px solid;
    background-color: rgb(190, 177, 228);
    font-weight: 700;
}
tr {
    border: 1px solid;
    font-family: cursive;

}
td {
    border: 1px solid;
    padding: 20px;
}   
.evil {
    color: red;
    border-color: black;
}
ul {
    list-style-type: none;
}